# CLI Local Dependencies and Output
node_modules
dist
.env

# Development Folders
/content
/output
/layouts
/public
/theme
/_site

# Ignore all Development Cache Folders and Dist Folders
.sitemd
_site

# Development Config
/sitemd.config.js

# Testing Output Folders
/test/fixtures/dev-site
/test/fixtures/cmd-site
